<!-- <div class="pre-scrollable"> -->

<div class = "mission-text">
  <h1 class="programTitle">Take A Look At The Programs We Have Held</h1>
  <p class="missionIntro">The Mathematics and Science Education Foundation in accordance with its goal to support the improvement in the teaching of Science and Mathematics in Nigerian secondary schools will continue to conduct a training for teachers of mathematics as well as Books, Bags, and other School Materials Distribution Exercises. </p>
</div>
<article class="work-article row">


<div class="container-fluid">
  <div class="row justify-content-center">
    <div class= "span-1">
      <section class= "our-work-images">
        <ul>
          <li class= "image-item">
            <figure>
              <a href="/program/program"><img src= "/picture1.jpg" alt width= "305" height= "188"></a>
              <figcaption>
                <span class="headline">The First Foundation Program</span>
                <p class="body">
                  "Our First Program going into training educators in Ondo City"
                  <br>
                  <a href="/program/program"> Read Our First Training Session's Overview </a>
                </p>
              </figcaption>
            </figure>
          </li>
          <li class= "image-item">
            <figure>
              <a href="/program/program1"><img src= "/picture2.jpg" alt width= "305" height= "188"></a>
              <figcaption>
                <span class="headline">Book Distribution Exercise</span>
                <p class="body">
                  "Things to say and say and say and say and say"
                  <br>
                  <a href="/program/program1"> Read Info </a>
                </p>
              </figcaption>
            </figure>
          </li>
        </ul>
      </section>
    </div>
  </article>
  </div>
</div>
