
<!-- <div class="pre-scrollable"> -->

<div class = "mission-text">
  <h1 class="programTitle">The First Foundation Program</h1>
  <p class="missionIntro">The Mathematics and Science Education Foundation in accordance with its goal to support the improvement in the teaching of Science and Mathematics in Nigerian secondary schools conducted a training for teachers of mathematics from four selected secondary schools in Ondo City. </p>
  <p class="programParagraph">
    Ondo City is a city in the Ondo State of the south west of Nigeria.<br>
    The secondary schools which participated in this training was a mix of private and public schools.<br>
    Because of the predominance of public schools, the four schools comprised of three public schools and one private school run by a religious body.<br>
    These four schools are listed here:<br>
    <ul>
      <li>Ondo Boys High School</li>
      <li>Ondo Boys High School is a males only public school.</li>
      <li>Ondo Anglican Grammar School</li>
      <li>A public males only school.</li>
      <li>Saint Monica’s Girls Grammar School</li>
      <li>A females only public school</li>
      <li>Diocesan Comprehensive College</li>
      <li>A mixed secondary school run by the Anglican Church Ondo |Diocese.</li>
    </ul>

  In perspective, there are 32 public secondary schools in the Ondo West Local Government area and another 28 private secondary schools.<br><br>
  Thus, our exercise was only directed at a small segment of the secondary schools in the area.<br><br>
  The three public schools are large secondary schools of fairly large student enrolment each of over 1200 students.<br><br>
  The participating teachers were made up of all mathematics teachers in the four school which made a set of 25 participating teachers.<br><br>
  Curriculum Director and teachers at the Corona Teachers College conducted the training.<br><br>
  Duration of the training was two days of lectures and projects.<br><br>
  The training took place on 7th and 8th of August 2015, two days which conveniently marked the end of the third term and the beginning of the long summer holiday.<br>
</p>
</div>

<!-- <div class="container-fluid no-padding">
  <img src="/teach-1968076_1920.jpg" alt="placeholder" class="reading img-responsive"/>
</div> -->
<div id="carouselExampleControls" class="carousel slide bg-inverse w-50 ml-auto mr-auto" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/picture1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/picture2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/picture3.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <i class="fa fa-chevron-left"></i>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">

    <i class="fa fa-chevron-right"></i>
  </a>
</div>

<!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid img-responsive" src="/picture1.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid img-responsive" id="astronaut"  src="/picture2.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid img-responsive" src="/picture3.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid img-responsive" src="/picture4.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid img-responsive" src="/picture5.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <i class="fa fa-chevron-left"></i>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">

    <i class="fa fa-chevron-right"></i>
  </a>
</div> -->
