<h1 class= "boardTitle">Board of Directors</h1>
<br>
<p>Description</p>

<p>Instead of a list have three squares or circles with their pictures and either a description or a link to their page
</p>


<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAt1AAAAJDNhNjk2ZGIxLTI3MWEtNGNmYy1iYThkLTY0MTE4Y2E1OGFhOQ.jpg" alt="Card image cap">
    <div class="card-block text-center">
      <h4 class="card-title">Name</h4>
      <p class="card-text">Description</p>
      <a href="#" class="btn btn-primary">Bio Page</a>
    </div>
    <div class="card-footer">
      <p class="text-muted text-center">Position</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAt1AAAAJDNhNjk2ZGIxLTI3MWEtNGNmYy1iYThkLTY0MTE4Y2E1OGFhOQ.jpg" alt="Card image cap">
    <div class="card-block text-center">
      <h4 class="card-title">Name</h4>
      <p class="card-text">Description</p>
      <a href="#" class="btn btn-primary">Bio Page</a>
    </div>
    <div class="card-footer">
      <p class="text-muted text-center">Position</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAt1AAAAJDNhNjk2ZGIxLTI3MWEtNGNmYy1iYThkLTY0MTE4Y2E1OGFhOQ.jpg" alt="Card image cap">
    <div class="card-block text-center">
      <h4 class="card-title">Name</h4>
      <p class="card-text">Description</p>
      <a href="#" class="btn btn-primary">Bio Page</a>
    </div>
    <div class="card-footer">
      <p class="text-muted text-center">Position</p>
    </div>
  </div>
</div>
