<h1 class= "boardTitle">Board of Directors</h1>
<br>
<p>Description</p>

<p>Instead of a list have three squares or circles with their pictures and either a description or a link to their page
</p>
<!-- <div class="row">
    <div class="col-xs-6">
        <img class="img-responsive" src="http://placekitten.com/g/200/200" />
    </div>
    <div class="col-xs-6">
        <img class="img-responsive img-circle" src="http://placekitten.com/g/200/200" />
    </div>
    <div class="col-xs-6">
        <img class="img-responsive img-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAt1AAAAJDNhNjk2ZGIxLTI3MWEtNGNmYy1iYThkLTY0MTE4Y2E1OGFhOQ.jpg" alt="" />
    </div>
</div> -->


<!-- <div class="img-div">
<img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAt1AAAAJDNhNjk2ZGIxLTI3MWEtNGNmYy1iYThkLTY0MTE4Y2E1OGFhOQ.jpg" />
</div>
<div class="circle-image"></div> -->
<!-- <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAt1AAAAJDNhNjk2ZGIxLTI3MWEtNGNmYy1iYThkLTY0MTE4Y2E1OGFhOQ.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAt1AAAAJDNhNjk2ZGIxLTI3MWEtNGNmYy1iYThkLTY0MTE4Y2E1OGFhOQ.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAt1AAAAJDNhNjk2ZGIxLTI3MWEtNGNmYy1iYThkLTY0MTE4Y2E1OGFhOQ.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->

<div class="row">
  <div class="col-sm-3">
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAt1AAAAJDNhNjk2ZGIxLTI3MWEtNGNmYy1iYThkLTY0MTE4Y2E1OGFhOQ.jpg" alt="Card image cap">
      <div class="card-block">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAt1AAAAJDNhNjk2ZGIxLTI3MWEtNGNmYy1iYThkLTY0MTE4Y2E1OGFhOQ.jpg" alt="Card image cap">
      <div class="card-block">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAt1AAAAJDNhNjk2ZGIxLTI3MWEtNGNmYy1iYThkLTY0MTE4Y2E1OGFhOQ.jpg" alt="Card image cap">
      <div class="card-block">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAt1AAAAJDNhNjk2ZGIxLTI3MWEtNGNmYy1iYThkLTY0MTE4Y2E1OGFhOQ.jpg" alt="Card image cap">
      <div class="card-block">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container.bios">
  <div class="col-lg-3.col-md-3.col-sm-3.col-xs-12.single-card">
    <div class="single-card-wrap">
      <img src='https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAt1AAAAJDNhNjk2ZGIxLTI3MWEtNGNmYy1iYThkLTY0MTE4Y2E1OGFhOQ.jpg'/>
      <h3> Todd Hockney </h3>
      <p> Operations Management </p>
      <div class="single-card-hover">
      <a class="single-card-hover-btn" href='#'> Read Bio</a></div>
    </div>
  </div>
  <div class="col-lg-3.col-md-3.col-sm-3.col-xs-12.single-card">
    <div class="single-card-wrap">
      <img src='https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAt1AAAAJDNhNjk2ZGIxLTI3MWEtNGNmYy1iYThkLTY0MTE4Y2E1OGFhOQ.jpg'/>
      <h3> Todd Hockney </h3>
      <p> Operations Management </p>
      <div class="single-card-hover">
      <a class="single-card-hover-btn" href='#'> Read Bio</a></div>
    </div>
  </div>
  <div class="col-lg-3.col-md-3.col-sm-3.col-xs-12.single-card">
    <div class="single-card-wrap">
      <img src='https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAt1AAAAJDNhNjk2ZGIxLTI3MWEtNGNmYy1iYThkLTY0MTE4Y2E1OGFhOQ.jpg'/>
      <h3> Todd Hockney </h3>
      <p> Operations Management </p>
      <div class="single-card-hover">
      <a class="single-card-hover-btn" href='#'> Read Bio</a></div>
    </div>
  </div>
</div> -->
