<!-- <img id="chicago" src="/chicago-690364_1920.jpg" alt="" class="background-image responsive-img"></img> -->

<div class="m-t-3"></div>

  <div class="footer-top p-y-2">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-12">
          <div class="footer-title text-xs-center">
          <h4 class="p-b-1">About Us</h4>
          <div class = "about-bg">
            <div class = "about-box">
              <div class = "about-text">
                <p>
                  Lorem ipsum dolor sit amet,<br>
                  consectetur adipisicing elit, <br>
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
                </p>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="col-md-2">
          <div class="card card-primary">
            <div class="card-header" href="#">Our Mission</div>
          </div>
        </div><!--col-md-2-->
          <div class="col-md-2">
          <div class="card card-primary">
            <div class="card-header" href="#">Our Board</div>
          </div>
        </div><!--col-md-2-->
          <div class="col-md-2">
          <div class="card card-primary">
            <div class="card-header" href="#">Our Partners</div>
          </div>
        </div><!--col-md-2-->
          <div class="col-md-2">
          <div class="card card-primary">
            <div class="card-header" href="#">Foundation Impact</div>
          </div>
        </div><!--col-md-2-->
          <div class="col-md-2">
          <div class="card card-primary">
            <div class="card-header" href="#">Staff</div>
          </div>
        </div><!--col-md-2-->
          <div class="col-md-2">
          <div class="card card-primary" href="/contact">
            <div class="card-header">Contact Us</div>
          </div>
        </div><!--col-md-2-->
      </div>
    </div>
  </div>
