<!-- <img id="chicago" src="/chicago-690364_1920.jpg" alt="" class="background-image responsive-img"></img> -->

<div class="m-t-3"></div>

  <div class="footer-top p-y-2">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-12">
          <div class="footer-title text-xs-center">
            <br>
          <h4 class="p-b-1">About Us</h4>
          <div class = "about-bg">
            <div class = "about-box">
              <div class = "about-text">
                <p>
                  Lorem ipsum dolor sit amet,<br>
                  consectetur adipisicing elit, <br>
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
                </p>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="col-md-2">
          <div class="card card-primary">
            <a class="card-header" href="/about/mission">Our Mission</a>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card card-primary">
            <a class="card-header" href="/about/board">Our Board</a>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card card-primary">
            <a class="card-header" href="/about/officers">Officers</a>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card card-primary">
            <a class="card-header" href="/about/impact">Impact</a>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card card-primary dropdown show">
            <a class="dropdown-toggle card-header" href="/about/event" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Event</a>
          </div>
        </div><!--col-md-2-->
        <div class="col-md-2">
          <div class="card card-primary">
            <a class="card-header"  href="/contact">Contact Us</a>
          </div>
        </div><!--col-md-2-->
      </div>
    </div>
  </div>
  <br>
