<br>
<div class="missionImageBanner">
  <img class="reading" src="/reading.jpg">

</div>

<div class = "mission-bg">
  <div class = "mission-box">
    <div class = "mission-text">
      <h1 class="missionTitle">Our Mission</h1><br>
      <p class="missionIntro">Increasing the Impact of Technology in Nigeria.</p><br>
      <p class="missionParagraph">Our mission is to support the teaching of Mathematics and Science in Nigerian schools.<br>
         We work to increase Nigerian children's interest in Science and Technology.<br><br></p>
      <h1 class="missionTitle">
         Methods<br></h1>
      <p class="missionParagraph">
        The following methods of intervention are  employed by the Foundation.<br>
         Workshops for teachers on methods to improve pedagogy in Mathematics and the natural Sciences.<br>
         Provision of teaching aides, such as books and technology.</p>

    </div>
  </div>
</div>
