<!-- <div class="container-fluid no-padding">
  <img src="/teach-1968076_1920.jpg" alt="placeholder" class="reading img-responsive"/>
</div> -->

<div class = "officers-bg">
  <div class = "officers-box">
      <h1 class="officersTitle">Our Officers</h1><br>
      <p class="officersParagraph">Description<br><br></p>
         <div class="row">
           <div class="col-sm-3">
             <div class="card" style="width: 15rem;">
               <img class="card-img-top" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAt1AAAAJDNhNjk2ZGIxLTI3MWEtNGNmYy1iYThkLTY0MTE4Y2E1OGFhOQ.jpg" alt="Card image cap">
               <div class="card-block text-center">
                 <h3 class="card-title">Title</h3>
                 <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                 <a href="#" class="btn btn-primary">Go somewhere</a>
               </div>
             </div>
           </div>
           <div class="col-sm-3">
             <div class="card" style="width: 15rem;">
               <img class="card-img-top" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAt1AAAAJDNhNjk2ZGIxLTI3MWEtNGNmYy1iYThkLTY0MTE4Y2E1OGFhOQ.jpg" alt="Card image cap">
               <div class="card-block text-center">
                 <h3 class="card-title">Title</h3>
                 <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                 <a href="#" class="btn btn-primary">Go somewhere</a>
               </div>
             </div>
           </div>
           <div class="col-sm-3">
             <div class="card" style="width: 15rem;">
               <img class="card-img-top" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAt1AAAAJDNhNjk2ZGIxLTI3MWEtNGNmYy1iYThkLTY0MTE4Y2E1OGFhOQ.jpg" alt="Card image cap">
               <div class="card-block text-center">
                 <h3 class="card-title">Title</h3>
                 <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                 <a href="#" class="btn btn-primary">Go somewhere</a>
               </div>
             </div>
           </div>
           <div class="col-sm-3">
             <div class="card" style="width: 15rem;">
               <img class="card-img-top" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAt1AAAAJDNhNjk2ZGIxLTI3MWEtNGNmYy1iYThkLTY0MTE4Y2E1OGFhOQ.jpg" alt="Card image cap">
               <div class="card-block text-center">
                 <h3 class="card-title">Title</h3>
                 <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                 <a href="#" class="btn btn-primary">Go somewhere</a>
               </div>
             </div>
           </div>
         </div>



  </div>
</div>
<br>
