<!-- <div class="container-fluid no-padding">
  <img src="/teach-1968076_1920.jpg" alt="placeholder" class="reading img-responsive"/>
</div> -->

<div class = "officers-bg">
  <div class = "officers-box">
      <h1 class="officersTitle">Our Officers</h1><br>
      <p class="officersParagraph">Description<br><br></p>
         <div class="row">
           <div class="col-sm-3">
             <div class="card" style="width: 15rem;">
               <img class="card-img-top" src="/empty.png" alt="Card image cap">
               <div class="card-block text-center">
                 <h3 class="card-title">Chairman</h3>
                 <p class="card-text">Mr. Ayo Olagundoye</p>
                 <!-- Trigger the modal with a button -->
                 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">More Info.</button>
                 <!-- Modal -->
                 <div id="myModal" class="modal fade" role="dialog">
                   <div class="modal-dialog" role="document">
                     <div class="modal-content">
                       <div class="modal-body">
                         <img class="card-img-top" src="/empty.png" alt="Card image cap">
                         <div class="card-block text-center">
                           <h3 class="card-title">Chairman</h3>
                           <p class="card-text">Mr. Ayo Olagundoye</p>
                           <p>Mr. Ayo Olagundoye holds degrees of BS Electrical Engineering from MIT and MS in Systems Engineering from Case Western Reserve University. Also MS from MIT Sloan School of Management. He was CEO of Chartered Bank plc, Nigeria and National Bank Nigeria Ltd. Currently Chairman of Rubber Estates Nigeria Ltd and Chairman of Food Concepts Plc. He is a trustee of the Corona Schools Trust Council.</p>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
           <div class="col-sm-3">
             <div class="card" style="width: 15rem;">
               <img class="card-img-top" src="/empty.png" alt="Card image cap">
               <div class="card-block text-center">
                 <h3 class="card-title">Executive Director</h3>
                 <p class="card-text">Jibayo Olagundoye</p>
                 <button type="button1" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">More Info.</button>

                 <!-- Modal -->
                 <div id="myModal1" class="modal fade" role="dialog">
                   <div class="modal-dialog" role="document">
                     <div class="modal-content">
                       <div class="modal-body">
                           <img class="card-img-top" src="/empty.png" alt="Card image cap">
                           <div class="card-block text-center">
                             <h3 class="card-title">Executive Director</h3>
                             <p class="card-text">Mr. Jibayo Olagundoye</p>
                         <p>Mr. Jibayo Olagundoye is a Tau Beta Pi BS graduate in Electrical Engineering from Tufts University and holds a MS in Electrical Engineering from the Illinois Institute of Technology . He was Systems Engineer with IBM Nigeria and General Manager Systems Engineering with DPMS - IBM Affiliate, Nigeria.</p>
                       </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
           <!-- <div class="col-sm-3">
             <div class="card" style="width: 15rem;">
               <img class="card-img-top" src="/empty.png" alt="Card image cap">
               <div class="card-block text-center">
                 <h3 class="card-title">Title</h3>
                 <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                 <a href="#" class="btn btn-primary">Go somewhere</a>
               </div>
             </div>
           </div> -->
           <!-- <div class="col-sm-3">
             <div class="card" style="width: 15rem;">
               <img class="card-img-top" src="/empty.png" alt="Card image cap">
               <div class="card-block text-center">
                 <h3 class="card-title">Title</h3>
                 <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                 <a href="#" class="btn btn-primary">Go somewhere</a>
               </div>
             </div>
           </div> -->
         </div>



  </div>
</div>
<br>
