<!-- <div class="container-fluid no-padding">
  <img src="/teach-1968076_1920.jpg" alt="placeholder" class="reading img-responsive"/>
</div> -->

<div class = "mission-bg">
  <div class = "mission-box">
    <div class = "mission-text">
      <h1 class="missionTitle">The First Foundation Program</h1>
      <p class="missionIntro">The Mathematics and Science Education Foundation in accordance with its goal to support the improvement in the teaching of Science and Mathematics in Nigerian secondary schools conducted a training for teachers of mathematics from four selected secondary schools in Ondo City. </p>
      <p class="missionParagraph">
        Ondo City is a city in the Ondo State of the south west of Nigeria.<br>
        The secondary schools which participated in this training was a mix of private and public schools.<br>
        Because of the predominance of public schools, the four schools comprised of three public schools and one private school run by a religious body.<br>
        These four schools are listed here:<br>
        <ul>
          <li>Ondo Boys High School</li>
          <li>Ondo Boys High School is a males only public school.</li>
          <li>Ondo Anglican Grammar School</li>
          <li>A public males only school.</li>
          <li>Saint Monica’s Girls Grammar School</li>
          <li>A females only public school</li>
          <li>Diocesan Comprehensive College</li>
          <li>A mixed secondary school run by the Anglican Church Ondo |Diocese.</li>
        </ul>

      In perspective, there are 32 public secondary schools in the Ondo West Local Government area and another 28 private secondary schools.<br><br>
      Thus, our exercise was only directed at a small segment of the secondary schools in the area.<br><br>
      The three public schools are large secondary schools of fairly large student enrolment each of over 1200 students.<br><br>
      The participating teachers were made up of all mathematics teachers in the four school which made a set of 25 participating teachers.<br><br>
      Curriculum Director and teachers at the Corona Teachers College conducted the training.<br><br>
      Duration of the training was two days of lectures and projects.<br><br>
      The training took place on 7th and 8th of August 2015, two days which conveniently marked the end of the third term and the beginning of the long summer holiday.<br>
<br><br>
      <h1 class="missionTitle">ACCEPTANCE</h1><br>
      The schools administration at the highest level were involved in our selection of the schools and the planning for the exercise.  The school authorities expressed great enthusiasm and welcomed the initiative.<br><br>
The venue chosen for the exercise was rented hall at the fairly high standard Polak Hotel located at a central easily accessible location in Ondo City.<br><br>
All the selected teachers participated including two of the principals  and an observer from the Ondo Ministry of education Zonal Office in the local government area.<br><br>
The programme was of a high standard with utilisation of media equipment and other methods instruction aides to encourage attention and understanding of the material.<br><br>
Attention and participation was  exceptional . In written comments at the end of the programme, all the participants expressed that the programme would be useful in improving their work in their schools.<br><br>
It should be mentioned that the training was mindful of established curriculum of the subject and the overriding concern to improve performance in public examinations.<br><br>
All participants were given certificates of participation at the end of the training.


    </p>



    </div>
  </div>
</div>
