<div class = "contact-bg">
  <div class = "contact-box">
    <div class = "contact-text">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-4">
            <h2>By Email</h2>
            <p>
              <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
              </ul>
              <h2>By Mail</h2>
              <ul>
                <li>Canaan Plaza, Suite 4<br>
                  Lekki Phase I<br>
                  Lagos, Nigeria</li>
              </ul>
            </p>
          </div>
          <div class="col-4">
            <h2>By Phone</h2>
            <p>
              <ul>
                <li>Tel: +234 703 125 5141</li>
              </ul>
              <h2>By Fax</h2>
              <ul>
                <li>Lorem ipsum dolor sit amet</li>
              </ul>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
