<div class = "contact-bg">
  <div class = "contact-box">
    <div class = "contact-text">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-4">
            <h2>By Email</h2>
            <p>
              <ul class="email list-unstyled">
                <li>Lorem ipsum dolor sit amet</li>
              </ul>
              <h2>By Mail</h2>
              <ul class="mail list-unstyled">
                <li class="headOffice">Head Office<br></li>
                  Canaan Plaza,<br>
                  Suite 4,<br>
                  Lekki Phase I<br>
                  Lagos, Nigeria</li>
              </ul>
              <ul class="mail list-unstyled">
                <li class="branchOffice">Branch Office<br></li>
                  4, Arigbabola Street<br>
                  Ondo<br>
                  Ondo State, Nigeria</li>
              </ul>
            </p>
          </div>
          <div class="col-4">
            <h2>By Phone</h2>
            <p>
              <ul class="phone list-unstyled">
  <li class="headOffice">Head Office<br></li>
                  Tel: +234 703 125 5141<br><br>
                  <li class="branchOffice">Branch Office<br></li>
                  Tel: +234 802 309 7543

                </li>

              </ul>
              <h2>By Fax</h2>
              <ul class="phone list-unstyled">
                <li>Lorem ipsum dolor sit amet</li>
              </ul>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
