<div class = "contact-bg">
  <div class = "contact-box">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <form>
          <legend><i class="fa fa-paper-plane" aria-hidden="true"></i>By Mail</legend>
          <address>
            <strong>Head Office</strong><br>
        Canaan Plaza,<br>
        Suite 4,<br>
        Lekki Phase I<br>
        Lagos, Nigeria<br><br>
        <!-- <strong>Phone Number</strong><br>
        <number title="Phone">
            Tel:</number>
        +234 703 125 5141 -->
    </address>
    </form>
</div>
<!-- </div> -->
<!-- <div class="row justify-content-center"> -->
<div class="col-md-4">
    <form>
    <legend><i class="fa fa-globe" aria-hidden="true"></i>By Email</legend>
    <!-- <address>

        <abbr title="Phone">
            P:</abbr>
        (123) 456-7890
    </address> -->
    <address>
        <a href="mailto:#"><strong>info@mathsciencefoundation.org</strong><br></a>
    </address>
    </form>
</div>

</div>
<div class="row justify-content-center">
<div class="col-md-4">
    <form>
    <legend> <h5>Branch Office</h5></legend>
    <address>
        <!-- <strong>Branch Office</strong><br> -->
        4, Arigbabola Street<br>
        Ondo<br>
        Ondo State, Nigeria<br>
        <!-- <strong>Phone Number</strong><br>
        <number title="Phone">
            Tel:</number>
        +234 802 309 7543 -->
    </address>
    </form>
</div>
<!-- </div> -->
<!-- <div class="row justify-content-center"> -->
<div class="col-md-4">
    <form>
      <br>
    <legend><i class="fa fa-phone" aria-hidden="true"></i></span>By Phone</legend>
    <address>
      <strong>Head Office</strong><br>
      <number title="Phone">
          Tel:</number>
      +234 703 125 5141
    </address>
    <address>
      <strong>Branch Office</strong><br>
      <number title="Phone">
          Tel:</number>
      +234 802 309 7543
    </address>
    </form>
</div>
</div>
</div>
</div>
