<!-- <div class="pre-scrollable"> -->
<!-- <div class="line"> -->
  <!-- <div class="col-md-6 quad"> -->
    <div class = "mission-text">
      <h1 class="missionTitle">Our Mission</h1>
      <p class="missionIntro">Increasing the Impact of Technology in Nigeria.</p>
      <p class="missionParagraph">Our mission is to support the teaching of Mathematics and Science in Nigerian schools.<br>
        We work to increase Nigerian children's interest in Science and Technology.<br></p>
      </div>
    <!-- </div> -->

    <!-- <div class="col-md-6 quad"> -->
      <div class = "mission-text">
        <h1 class="missionTitle">Initiative</h1>
        <p class="missionParagraph1">
          <ul>
            <li>Establishing schools with specialization in science and mathematics.</li>
            <li>Introducing special high level teachers to secondary schools with a mission to raise the standard of instruction in those subjects.</li>
            <li>Conducting special workshops for teachers to improve on their knowledge and to introduce new methods of teaching the subjects.</li>
            <li>Conducting special tutorial clinics for students in those subjects utilizing suitable techniques which aid understanding.</li>
          </ul>
        </p>
      </div>
    <!-- </div> -->

    <!-- <div class="col-md-6 quad"> -->
      <div class = "mission-text">
        <h1 class="missionTitle">Motivation</h1>
        <p class="missionParagraph1">
          Nigeria has a lack of presence and participation in technological research, application, and innovation<br><br>
          All technology in Nigeria is imported.<br><br>
          Students' interest in adopting science and mathematics related majors in university is low.<br><br>
          A low percentage of students in secondary school select science and math as areas of study.</p>
        </div>
      <!-- </div> -->

      <!-- <div class="col-md-6 quad"> -->
        <div class = "mission-text">
          <h1 class="missionTitle">Methods<br></h1>
          <p class="missionParagraph">
            The following methods of intervention are employed by the Foundation.
            <ul>
              <li> Workshops for teachers on methods to improve pedagogy in Mathematics and the Natural Sciences.</li>
              <li>Provision of teaching aides, such as books and technology.</li></p>
            </ul>
          </div>
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
