<!DOCTYPE html>
<html>
  <head>
    <title>Foundation</title>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/37f841e0f7.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Arbutus+Slab|Faustina|Kameron|Maven+Pro|Poiret+One|Yantramanav" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if controller_name == "home" && action_name == "index" %>
    <div class="container">
      <h3>Logo</h3>
      <p>Donate Button</p>
    </div>
    <% end %>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand" href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <% if controller_name == "home" && action_name == "index" %>
        <div class="dropdown show">
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="/about" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/about">About</a>
              <a class="dropdown-item" href="/about/mission">Mission</a>
              <a class="dropdown-item" href="/about/board">Board of Directors</a>
              <a class="dropdown-item" href="/about/officers">Officers</a>
              <a class="dropdown-item" href="/about/impact">Impact</a>
              <a class="dropdown-item" href="/about/event">Event</a>
            </div>
          </li>
        </div>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about/event">Events</a>
          </li>
          <% elsif controller_name == "contact" && action_name == "index" %>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about/event">Events</a>
          </li>
          <% else %>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about/event">Events</a>
          </li>
        </ul>
        <% end %>
      </div>
    </nav>

    <%= yield %>
  </body>
  <footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <address>
  								<ul class="list-unstyled">
                    <h3 class="footerContact">Contact</h3>
  									<li>
                      Canaan Plaza<br>
                      Suite 4<br>
                      Lekki Phase I<br>
                      Lagos, Nigeria
  									</li>
  								</ul>
  							</address>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <ul class="list-unstyled">
              <br><br>
              <li>Tel: +234 703 125 5141</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <ul class="list-unstyled">
              <h3 class="connectContact">Connect</h3>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!--Footer Bottom-->
            <p class="text-xs-center">The Official Site of the Foundation<br>&copy; Copyright 2017. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</html>
